<!DOCTYPE html>
<html lang="pt-br">
    <head>    
        <meta charset="UTF-8">    
        <title>Ambiente Virtual de Aprendizagem</title> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">  
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styleDisciplina.css')}}"/>
        </head>
    <body>                    
        <header>
            <nav>
                <ul>
                    <li><a href="#"><img src="{{url_for('static', filename='img/vertical.png')}}"></a></li>
                    <br>
                    <li><a href="{{url_for('home')}}"><img src="{{url_for('static', filename='img/dashboar.png')}}"></a></li>
                    <li><a href="#"><img src="{{url_for('static', filename='img/graph.png')}}"></a></li>
                    <li><a href="#"><img src="{{url_for('static', filename='img/appointments.png')}}"></a></li>
                    <li><a href="#"><img src="{{url_for('static', filename='img/enquiries-active.png')}}"></a></li>
                    <li><a href="#"><img src="{{url_for('static', filename='img/messages.png')}}"></a></li>
                    <li><a href="#"><img src="{{url_for('static', filename='img/users.png')}}"></a></li>
                    <li><a href="#"><img src="{{url_for('static', filename='img/settings.png')}}"></a></li>
                    <li><a href="#"><img src="{{url_for('static', filename='img/logout.png')}}"></a></li>
                </ul>
            </nav>
        </header>
        <article id="informacao-geral">
            <section id="saudacao">
                <h1>Ambiente Virtual de Aprendizagem</h1>
                <p>Seja bem-vindo de volta, Guilherme Delgado, sua última aula assistida foi: Aula 7 - Adobe XD <a>(Voce dejesa retornar a aula?)</a></p>

                <button>Falar com o Professor</button>
            </section>
            <section id="aula-conteudo-titulo">
                <h2>Todo Conteúdo</h2>
                <hr>
            </section>
            <section id="aula-todo-conteudo">
                {% for aula in aula_lista %}
                <section>
                    <h3 id="aula-numero">{{aula.get_numero()}}</h3>
                    <p id="aula-titulo">{{aula.get_titulo()}}</p>
                    <button id="ver-mais">Iniciar Aula</button>
                </section>
                {% endfor %}
            </section>
        </article>
                
        <article id="informacao-perfil">
            <div id="divBusca">
                <img src="{{url_for('static', filename='img/busca.png')}}" id="btnBusca" alt="Buscar"/>
                <input type="text" id="txtBusca" placeholder="Procure por palavras chaves"/>
            </div>
                <div id="saudacao-perfil">
                    <p id="um-linha">Olá,</p>
                    <h2 id="dois-linha">Guilherme Delgado</h2>
                    <p id="tres-linha">Seja bem-vindo ao Ambiente Virtual de Aprendizagem!</p>
                </div>
                <img id="imagem-perfil" src="{{url_for('static', filename='img/guigui.jpeg')}}">
                <section id="lembretes-titulo-area">
                    <h2>Provas e trabalhos</h2>
                </section>
                <section id="lembretes">
                    {% for lembrete in lembretes_lista %}
                    <section>
                        <img id="imagem-aviso" src="{{url_for('static', filename='img/email.png')}}"/>
                        <div id="mensagem">
                            <h4>{{lembrete.get_titulo()}}</h4>
                            <p>Data para entrega: {{lembrete.get_data_entre()}}</p>
                        </div>
                    </section>
                    {% endfor %}
                </section>
        </article>
        <!--
        <footer><p class="mb-1">&copy; 2020 - Todos os direitos reservados - Guilherme Delgado, Matheus Telles e Breno Cocheto</p></footer>
        -->
    </body>
</html>
