<!DOCTYPE html>
<html lang="pt-br">
    <head>    
        <meta charset="UTF-8">    
        <title>Ambiente Virtual de Aprendizagem</title> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">  
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styleIndex.css')}}"/>
        </head>
    <body>                    
        <header>
            <nav>
                <ul>
                    <li><a href="#"><img src="{{url_for('static', filename='img/vertical.png')}}"></a></li>
                    <br>
                    <li><a href="#"><img src="{{url_for('static', filename='img/dashboard-active.png')}}"></a></li>
                    <li><a href="#"><img src="{{url_for('static', filename='img/graph.png')}}"></a></li>
                    <li><a href="#"><img src="{{url_for('static', filename='img/appointments.png')}}"></a></li>
                    <li><a href="#"><img src="{{url_for('static', filename='img/enquiries.png')}}"></a></li>
                    <li><a href="#"><img src="{{url_for('static', filename='img/messages.png')}}"></a></li>
                    <li><a href="#"><img src="{{url_for('static', filename='img/users.png')}}"></a></li>
                    <li><a href="#"><img src="{{url_for('static', filename='img/settings.png')}}"></a></li>
                    <li><a href="#"><img src="{{url_for('static', filename='img/logout.png')}}"></a></li>
                </ul>
            </nav>
        </header>
        <article id="informacao-geral">
            <section id="saudacao">
                <h1>Ambiente Virtual de Aprendizagem</h1>
                <p>Seja bem-vindo de volta, Guilherme Delgado!</p>
                <button>Precisa de ajuda?</button>
            </section>
            <section id="atalhos-titulo">
                <h2>Atalhos</h2>
            </section>
            <section id="atalhos">
                    <div>
                        <p>Avaliações</p>
                        <h3>{{provas}}</h3>
                    </div>
                    <div>
                        <p>Trabalhos</p>
                        <h3 id="trabalhos">{{trabalhos}}</h3>
                    </div>
                    <div>
                        <p>Fóruns</p>
                        <h3>{{foruns}}</h3>
                    </div>
                    <div>
                        <p>Rendimento</p>
                        <h3>46%</h3>
                    </div>
            </section>
            <section id="disciplinas-titulo-area">
                <h2>Disciplinas</h2>
                <hr>
            </section>
            <section id="disciplinas">
                {% for disciplina in disciplina_lista %}
                <section>
                    <h3 id="nome-disciplinas">{{disciplina.get_nome()}}</h3>
                    <div id="disciplinas-info">
                        <div id="professor">
                            <p>Professor</p>
                            <h4>{{disciplina.get_professor()}}</h4>
                        </div>
                        <div id="periodo">
                            <p>Periodo:</p>
                            <h4>4</h4>
                        </div>
                        <div id="horario">
                            <p>Horário:</p>
                            <h4 id=>{{disciplina.get_horario()}}</h4>
                        </div>
                    </div>
                    <p id="acessar"><a href="{{url_for('disciplina', disciplina_id = disciplina.get_id())}}">Acessar</a></p>
                </section>
                {% endfor %}
            </section>
        </article>

        <article id="informacao-perfil">
            <div id="divBusca">
                <img src="{{url_for('static', filename='img/busca.png')}}" id="btnBusca" alt="Buscar"/>
                <input type="text" id="txtBusca" placeholder="Procure por palavras chaves"/>
            </div>
                <div id="saudacao-perfil">
                    <p id="um-linha">Olá,</p>
                    <h2 id="dois-linha">Guilherme Delgado</h2>
                    <p id="tres-linha">Seja bem-vindo ao Ambiente Virtual de Aprendizagem!</p>
                </div>
                <img id="imagem-perfil" src="{{url_for('static', filename='img/guigui.jpeg')}}">

                <section id="ultima-disciplina">
                    <h2>Lab. Interfaces</h2>
                    <h2>Aula 6</h2>
                    <p>Desbravando o Adobe XD</p>
                    <div class="progress-bar" ></div>
                </section>

                <section id="lembretes-titulo-area">
                    <h2>Lembretes</h2>
                </section>
                <section id="lembretes">
                    {% for lembrete in lembrete_lista %}
                    <section>
                        <img id="imagem-aviso" src="{{url_for('static', filename='img/exclamation.png')}}"/>
                        <div id="mensagem">
                            <h4>{{lembrete.get_titulo()}}</h4>
                            <p>Data para entrega: {{lembrete.get_data_entre()}}</p>
                        </div>
                    </section>
                    {% endfor %}
                </section>
        </article>
        <!--
        <footer><p class="mb-1">&copy; 2020 - Todos os direitos reservados - Guilherme Delgado, Matheus Telles e Breno Cocheto</p></footer>
        -->
    </body>
</html>
